.home {
}
.p {
  font-size: large;
  font-weight: 700;
  color: black;
}
.hey {
  color: black;
  font-size: x-large;
  font-style: bold;
  font-weight: 700;
}
.getOrder {
  font-size: large;
  font-weight: 500;
  color: grey;
}
.viewAll {
  font-size: smaller;
  font-weight: 500;
  color: #d83434;
}
.view {
  text-align: right;
}

.down {
  height: 3.5rem;
}
.withoutOverlay {
  display: none;
}
.secondCol {
  margin-left: 3%;
  position: absolute;
}
.row {
  position: relative;
}

.overlay {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d83434;
  color: #fff;
  /* overflow-x: hidden; */
  padding-top: 60px;
  transition: 0.5s;
  text-align: -webkit-center;
}
