.img {
  border-radius: 15%;
  width: 100%;
  height: auto;
  margin-right: 3%;
}

.para {
  margin-top: 30%;
  color: rgb(63, 35, 35);
}

.icon {
  margin-top: 20%;
  color: black;
}

.icon:hover {
  color: active;
  font-size: 150%;
}

.icon:active {
  transform: scale(0.88);
}
